.containerStyles{
    height: 20px;
    width: 100%;
    background: white;
    border-radius: 50px; 
}

.fillerStyles{
    height: 100%;
    background-color: #6a1b9a;
    border-radius: inherit;
    text-align: center; 
}

.labelStyles{
    padding: 5px;
    color: white;
    font-weight: bold;
}